<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DirectorySettings.LdapPath" value="OU=Users,OU=ITverket,DC=lokal,DC=itverket,DC=no"/>
    <add key="DirectorySettings.UsernameToken" value="userPrincipalName"/>
    <add key="DirectorySettings.FullnameToken" value="cn"/>
    <add key="DirectorySettings.Domain" value="lokal.itverket.no"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
